{% extends 'base.html.twig' %}

{% block title %}Album index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Annee</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.nomAlbum }}</td>
                <td>{{ album.anneeAlbum }}</td>
                <td>{{ album.prixAlbum }}</td>
                <td>{{ album.stockAlbum }}</td>
                <td>
                    <a href="{{ path('album_show', {'id': album.id}) }}">Voir</a>
                    <a href="{{ path('album_edit', {'id': album.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('album_new') }}">Ajouter un nouvel album</a>
{% endblock %}
