{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>NomAlbum</th>
                <td>{{ album.nomAlbum }}</td>
            </tr>
            <tr>
                <th>Annee de parution</th>
                <td>{{ album.anneeAlbum }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ album.prixAlbum }} €</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ album.stockAlbum }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('album_index') }}">Retour à la liste des albums</a>

    <a href="{{ path('album_edit', {'id': album.id}) }}">Modifier l'album</a>

    {{ include('album/_delete_form.html.twig') }}
{% endblock %}
